body {
  font-family: "arial", sans-serif;
  text-align: center;
  z-index: 1;
}

* { box-sizing: border-box; }

.slider {
  background: #FAFAFA;
}



.carousel-cell {
  width: 60%;
  margin-right: 10px;
  object-fit: cover;

}

.carousel-cell-image {
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-page-dots, .flickity-prev-next-button{
  display: block;
}
