*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.star {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #ccc;
  stroke-width: 2;
  cursor: pointer;
}

.star.active {
  fill: #fcd34d;
  stroke: #fcd34d;
}

